---
title:        
keywords:     >
  mercería,merceria,mercería alonso,merceria majadahonda,merceria madrid,telas,taller,cursos mensuales,clases puntuales,máquinas de coser,lanas,lazos,cintas,gomas,pasamanerías,abalorios,accesorios de bebe,hilos,merceria tradicional
---


<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include shared/_cookies.html %}
    {% include header.html %}

    <div class="image-slider">
      <div class="caption">
        Crea tu propia Tilda patinadora. El 21 de Marzo, de 10 a 18, clase puntual. <a href="/tienda" class="blue">Visítanos</a> e infórmate.
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    {% include shared/_ganalytics.html %}
  </body>
</html>
