<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="header-content {{ page.type }}">
      {% include header.html %}
      <div class="workshop-title">
        <div class="workshop-title-inner">
          <h2>Taller de<br/>costura y labores</h2>
          <p>Elige cualquiera de nuestros cursos o alquila<br/>una máquina por tu cuenta</p>
        </div>
      </div>
      {% include workshop/navigation.html %}
    </div>
    <div class="workshop-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>