<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include shared/_cookies.html %}

    <div class="header-content {{ page.type }}">
      {% include header.html type="light" %}
      <div class="page-title">
        <div class="page-title-inner">
          <h2>Taller de<br/>costura y labores</h2>
          <p>{{ page.description }}</p>
        </div>
      </div>
      {% include workshop/navigation.html %}
    </div>
    
    <div class="page-content">
      <div class="wrapper">
        {{ content }}

        <section class="page-item page-item-center">
          <div class="page-item-inner">
            <h4>Calendario</h4>
            <p>Disponemos de una gran variedad de horarios tanto por la mañana como por la tarde. Consulta nuestro calendario y si no se adapta a tus necesidades <a href="/contacto">contacta</a> con nosotros e intentaremos abrir nuevos grupos.</p>
          </div>
          <div class="page-calendar"></div>
        </section>
      </div>
    </div>

    {% include footer.html %}

    <script>
      var classes = {{ site.data.workshop | jsonify }};
      var type = '{{ page.type }}';
    </script>
    <!-- build:js(app) /js/workshop.js -->
    <script src="/_bower_components/jquery/jquery.js"></script>
    <script src="/js/vendor/jquery-ui-1.7.2.js"></script>
    <script src="/_bower_components/underscore/underscore.js"></script>
    <script src="/_bower_components/backbone/backbone.js"></script>
    <script src="/_bower_components/moment/moment.js"></script>
    <script src="/_bower_components/jquery-cookie/jquery.cookie.js"></script>
    <script src="/js/models/cookie_model.js"></script>
    <script src="/js/vendor/jquery.weekcalendar.js"></script>
    <script src="/js/cookie_banner.js"></script>
    <script src="/js/workshop/calendar.js"></script>
    <script src="/js/workshop/workshop.js"></script>
    <!-- endbuild -->
    {% include shared/_ganalytics.html %}
  </body>
</html>