
  /**
   *  Haberdashery styles
   */

  @import "compass/css3/images";
  @import "compass/css3/inline-block";

  body { @include background(image-url("bg-padded.png") repeat 0 0) }
  
  .main {
    padding-top:100px;
    text-align:center
  }

  h1 {
    i.icon.zip {
      @include inline-block();
      width:62px;
      height:62px;
      @include background(image-url("zip.png") repeat 0 0);
    }

    span.name {
      @include inline-block();
      width:120px;
      font:500 30px 'Lato', Arial;
      line-height:30px;
      color:#999;
      text-align:left;
    }
  }

  h2 {
    margin-top:40px;
    font:600 20px Arial;
    color:#666;
  }

  h3 {
    font:600 20px Arial;
    color:#666;
    text-transform:uppercase;
  }

  p {
    font:normal 15px Arial;
    color:#676767;

    a { color:#00B259 }
  }
  