// Content styles
// --------------------------------------------------

.PageTitle {
  font-family: 'Amatic SC';
  font-weight: bold;
  font-size: 68px;
  color: white;
  letter-spacing: 2px;
  text-shadow: 0 1px #999, 1px 0 #999, 1px 1px #999, 0 0 #999;
}
.DefaultParagraph {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #878787;
  font-weight: 300;
  line-height: 22px;
}
.DefaultTitle {
  font-family: 'Lato';
  font-weight: bold;
  font-size: 26px;
  color: #4A4A4A;
}
.DefaultList {
  margin: 20px 0;
  list-style: circle;
}
.DefaultList-item {
  color: #878787;
  font-size: 15px;
  color: #878787;
  font-weight: 300;
  line-height: 22px;
}