// Footer styles
// --------------------------------------------------

@import "../ui/colors";
@import "../ui/vars";

.Footer {
  padding: 30px 0;
  background: url('/img/layout/pattern.jpg') repeat center center;
}
.Footer-inner {
  text-align: center;
}