<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link href='http://fonts.googleapis.com/css?family=Cabin:500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/vendor/grids.css" | prepend: site.baseurl }}">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ "/css/vendor/grids-responsive-old-ie.css" | prepend: site.baseurl }}">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ "/css/vendor/grids-responsive.css" | prepend: site.baseurl }}">
  <!--<![endif]-->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
