
  /** 
   *  Workshop navigation styles
   *
   */

  @import "compass/css3/inline-block";
  @import "../ui/vars";

  .workshop-navigation {
    background:rgba(0,0,0,0.1);
    border-top:1px solid rgba(0,0,0,.2);
    border-bottom:1px solid rgba(0,0,0,.2);

    .workshop-navigation-inner {
      max-width: $w;
      margin:0 auto;
      text-align: center;
    }

    a {
      @include inline-block();
      padding:0 60px;
      line-height:60px;
      color:rgba(white,.7);
      font-size:17px;
      font-weight:300;
      border-right:1px solid rgba(0,0,0,.2);
      text-transform:uppercase;
      text-decoration:none;

      &:first-child {
        padding-left:0;
      }
      
      &:last-child {
        padding-right:0;
        border-right:none;
      }

      &:hover {
        color:white;
        text-decoration: underline;
      }
    }
    
    a.selected {
      color:white;
      text-decoration: none;
      &:hover { cursor:default }
    }
  }


  // Hello media queries

  @media (min-width: 0) and (max-width: 1100px) {
    .workshop-navigation-inner {
      a {
        padding:0 20px;
        font-size:15px;
      }
    }
  }

  @media only screen and (max-width: 568px) {
    .workshop-navigation-inner {
      a {
        padding:0 18px 0 15px;
        font-size:13px;
      }
    }
  }

  @media (min-width: 0) and (max-width: 567px) {

    .workshop-navigation-inner {
      a {
        width:100px;
        padding:10px 0;
        line-height:17px;
        font-size:11px;

        &:hover { text-decoration: none }
      }
    }
  }