// Buttons styles
// --------------------------------------------------

@import "colors";

.Button {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 4px;
}
.Button--main {
  color: white;
  background: $link;
  &:hover {
    color: white;
    background: $linkHover;
    text-decoration: none;
  }
}
