// Default styles
// --------------------------------------------------

@import "colors";  
@import "vars";

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Lato', Arial;
}
a {
  color: $link;
  text-decoration: none;
  &:hover {
    color: $linkHover;
    text-decoration: underline;
  }
}
.u-inner {
  max-width: $w;
  margin: 0 auto;
}
.l-box { padding: 1em }
.pure-g [class *="pure-u"] {
  font-family: 'Lato', Arial; 
}

// Margins
// --------

// top
.margint5 { margin-top: 5px }
.margint10 { margin-top: 10px }
.margint15 { margin-top: 15px }
.margint20 { margin-top: 20px }