// Default styles
// --------------------------------------------------

@import "colors";  
@import "vars";

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Lato', Arial;
}
a {
  color: $link;
  text-decoration: none;
  &:hover {
    color: $linkHover;
    text-decoration: underline;
  }
}
.u-inner {
  max-width: $w;
  margin: 0 auto;
}
.l-box { padding: 1em }
.pure-g [class *="pure-u"] {
  font-family: 'Lato', Arial; 
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Margins
// --------

// top
.margint5 { margin-top: 5px }
.margint10 { margin-top: 10px }
.margint15 { margin-top: 15px }
.margint20 { margin-top: 20px }
.margint25 { margin-top: 25px }
.margint30 { margin-top: 30px }
// bottom
.marginb5 { margin-bottom: 5px }
.marginb10 { margin-bottom: 10px }
.marginb15 { margin-bottom: 15px }
.marginb20 { margin-bottom: 20px }
.marginb25 { margin-bottom: 25px }
.marginb30 { margin-bottom: 30px }