
  /**
   *  Map styles
   *
   */

  #localizacion {
    .page-item-inner {
      position:relative;
      z-index:1;
    }

    .page-type-content {
      .map-info-wrapper {
        padding:20px;
        background:white\9;
        background:rgba(white,0.9);  
      }
    }

    &.padtop { padding-top:180px }
  }

  #map {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index:0;
  }