// Table styles
// --------------------------------------------------

.Table {
  margin: 50px 0;
  border: 1px solid #CCC;
  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: middle;
}

.Table th,
.Table td { padding: 6px 10px }

.Table th {
  vertical-align: middle;
  background: #666;
  border: 1px solid white;
  color: white;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

.Table td {
  vertical-align: middle;
  min-width: 100px;
  padding: 10px;
  color: #878787;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  border: 1px solid #CCC;
}

@media (min-width: 0) and (max-width: 567px) {
  .Table th { font-size: 13px }
  .Table td {
    min-width: inherit;
    padding: 5px;
    font-size: 13px;
  }
}