
  /**
   *  Content table styles
   *
   */

  table.content {
    margin:50px 0;
    border:1px solid #CCC;
    border-spacing:0;
    border-collapse: collapse;
    vertical-align: middle;

    th, td { padding:6px 10px }

    th {
      vertical-align: middle;
      background:#00B285;
      border: 1px solid #00B285;
      color:white;
      font-size:14px;
      font-family:'Cabin',Arial;
    }

    td {
      padding:10px;
      vertical-align: middle;
      min-width:100px;
      font-size:13px;
      line-height:17px;
      color:#999;
      border:1px solid #CCC;
    }
  }


  @media (min-width: 0) and (max-width: 567px) {
    table td { min-width:inherit!important }
  }