<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }} · {% endif %}Mercería Alonso</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">

  <meta property="fb:app_id" content="824010084328857" />
  <meta property="og:site_name" content="Mercería Alonso" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="business" />
  <meta property="og:url" content="{{ site.baseurl }}{% if page.url %}{{ page.url }}{% endif %}" />
  <meta property="og:image" content="{{ site.baseurl }}{% if page.thumbnail %}{{ page.thumbnail }}{% else %}{{ site.thumbnail }}{% endif %}" />
  <meta property="og:locale" content="ES" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@merceriaalonso" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:image" content="{{ site.baseurl }}{% if page.thumbnail %}{{ page.thumbnail }}{% else %}{{ site.thumbnail }}{% endif %}" />
  <meta name="twitter:url" content="{{ site.baseurl }}{% if page.url %}{{ page.url }}{% endif %}" />

  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700|Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <!--[if lte IE 8]>
    <!-- build:css({app,.tmp}) /css/ie.css -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/vendor/old-responsive-pure-grid.css">
    <!-- endbuild -->
  <![endif]-->
  
  <!-- build:css({app,.tmp}) /css/main.css -->
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/_bower_components/flickerplate/css/flickerplate.css"></script>
  <link rel="stylesheet" href="/css/vendor/pure-min.css">
  <link rel="stylesheet" href="/css/vendor/responsive-pure-grid.css">
  <link rel="stylesheet" href="/css/vendor/jquery.weekcalendar.css">
  <link rel="stylesheet" href="/css/ui/default.css">
  <link rel="stylesheet" href="/css/ui/list.css">
  <link rel="stylesheet" href="/css/ui/block.css">
  <link rel="stylesheet" href="/css/ui/buttons.css">
  <link rel="stylesheet" href="/css/ui/calendar.css">
  <link rel="stylesheet" href="/css/ui/table.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/content.css">
  <link rel="stylesheet" href="/css/common/last-posts.css">
  <link rel="stylesheet" href="/css/common/cookie.css">
  <link rel="stylesheet" href="/css/common/footer.css">
  <link rel="stylesheet" href="/css/content-header.css">
  <link rel="stylesheet" href="/css/products.css">
  <link rel="stylesheet" href="/css/map.css">
  <!-- endbuild -->


  <!-- build:js(app) /js/modernizr.js -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
