// Content header styles
// --------------------------------------------------

.ContentHeader {
  position: relative;
  width: 100%;
  min-height: 530px;
  overflow: hidden;
  background: transparent;
}
.ContentHeader-title {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -30px;
  line-height: 100%;
  text-align: center;
  z-index: 1;
}