
  /**
   *  Styles for cookie banner
   *
   */

  .cookie-banner {
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    display:none;
    padding:10px 20px 10px 40px;
    background:#FEFEB2;
    text-align:center;
    z-index:10000;

    h6 { font-size:15px; color:#373726 }
    p { color:#7F7F59 }

    i {
      position:absolute;
      left:15px;
      top:50%;
      margin-top:-8px;
      color:rgba(black,0.5);
      font-size:15px;

      &:hover { color:rgba(black,0.8) }
    }

    .cookie-link {
      text-decoration: underline;
      color:rgba(black,0.5);
      &:hover { color:rgba(black,0.75); }
    }
  }


  @media (min-width: 0) and (max-width: 567px) {
    .cookie-banner h6 { font-size:13px }
    .cookie-banner p { font-size:12px }
  }