
  /**
   *  Styles for cookie banner
   *
   */

  @import "compass/css3/border-radius";

  .cookie-banner {
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    display:none;
    padding:10px 20px 10px 40px;
    background:#FEFEB2;
    text-align:center;
    z-index:10000;

    h6 { font-size:15px; color:#373726 }
    h6 a { color:#373726; text-decoration:none }
    p { color:#7F7F59 }

    i {
      position:absolute;
      left:15px;
      top:50%;
      margin-top:-8px;
      color:#7F7F59;
      font-size:15px;

      &:hover { color:#333324 }
    }

    .cookie-link {
      text-decoration: underline;
      color:#7F7F59;
      &:hover { color:#3F3F2C }
    }
  }


  @media (min-width: 0) and (max-width: 567px) {
    .cookie-banner {
      left:3px;
      right:3px;
      bottom:3px;
      @include border-radius(2px);
    }
    .cookie-banner h6 { font-size:13px }
    .cookie-banner h6 a { text-decoration:underline }
    .cookie-banner p { display:none!important; }
  }