
  /**
   *  Footer styles
   *
   */

  @import "compass/css3/inline-block";
  @import "ui/vars";


  footer {
    display:block;
    background:#343434;

    .inner {
      max-width:$w;
      margin: 0 auto;
      padding:50px 20px;
      text-align:center;
    }

    // Logo
    .logo a {
      @include inline-block();
      width:48px;
      height:48px;
      background:url('/img/logo_white_small.png') no-repeat 0 0;
      background-size:48px 48px;
    }

    
    // Navigation
    nav {
      display:block;
      margin:20px 0;
      
      a {
        @include inline-block();
        padding:1px 15px;
        font-size:14px;
        line-height:16px;
        color:white;
        text-decoration:none;
        border-left:1px solid #AAA;

        &:first-child { border:none }
        &:hover { text-decoration:underline }
      }

      // States

      // - disabled
      a.disabled {
        color:#999;
        &:hover { text-decoration: none }
      }

      // - selected
      a.selected {
        text-decoration: underline;
        &:hover { cursor:default }
      }
    }

    // Social
    div.social {
      a { margin:0 10px }

      i {
        font-size:19px;
        color:white;
      }
    }

    // Rights
    div.rights {
      display:block;
      margin:20px 0 0;
      font-size:12px;
      color:#ABABAB;
    }

  }


  // Hello media queries

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    footer .logo a {
      background:url('/img/logo_white@2x.png') no-repeat 0 0;
      background-size:48px 48px;
    }
  }

  @media only screen and (max-width: 568px) {
    footer {
      .inner { padding:50px 10px }
      nav a { padding:1px 8px }
    }
  }