
  /**
   *  Header styles
   *
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/opacity";
  @import "compass/css3/transform";
  @import "compass/css3/transition";
  @import "ui/vars";


  header {
    display:block;

    .inner {
      height:60px;
      max-width:$w;
      margin: 0 auto;
      padding:0 20px;
    }

    .logo {
      float:left;
      width:130px;
      height:60px;
      padding:2px 0 0 72px;
      margin-top:18px;
      background:url('/img/logo_white.png') no-repeat 0 0;
      background-size:60px 60px;
      
      a {
        font-family: 'Montserrat', Arial;
        font-size:25px;
        font-weight:400;
        color:white;
        text-decoration:none;
      }
    }

    .header-comp-nav {
      float:right;
      display:none;
      margin:35px 10px 0 0;
      
      i {
        font-size:30px;
        color:white;
      }
    }

    nav {
      float:right;
      height:57px;
      @include transform-style("linear");
      @include transition-property("left");
      @include transition-duration(250ms);

      a {
        @include inline-block();
        margin-left:30px;
        padding:40px 0 0;
        line-height:15px;
        font-family: 'Cabin',Arial;
        font-size:14px;
        font-weight: 400;
        color:white;
        text-transform: uppercase;
        text-decoration: none;
        border-top:2px solid transparent;

        &:hover { border-color: white }
      }

      // States

      // - disabled
      a.disabled {
        @include opacity(0.5);

        &:hover {
          cursor:default;
          border-color:transparent;
        }
      }

      // - selected
      a.selected {
        border-color: white;

        &:hover { cursor:default }
      }
    }

  }


  // Hello media queries

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    header .logo {
      background:url('/img/logo_white@2x.png') no-repeat 0 0;
      background-size:60px 60px;
    }

  }

  @media (min-width: 0) and (max-width: 720px) {
    .header-comp-nav { display:block!important }

    header nav {
      position:fixed;
      width:50%;
      height:100%;
      padding:40px 0 0;
      top:0;
      left:100%;
      background:#333;
      z-index:100;

      a {
        display:block!important;
        padding:10px 0px!important;
        text-transform: uppercase;
        border:none!important;
        text-align:left;
      }

      a.selected { text-decoration: underline }
    }


    body.active header {
      nav { left:50% }
    }
  }