
  /**
   *  Header styles
   *
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/opacity";
  @import "compass/css3/transform";
  @import "compass/css3/transition";
  @import "ui/vars";


  // Default header

  header {
    position:relative;
    display:block;
    z-index:1;

    .inner {
      height:78px;
      max-width:$w;
      margin: 0 auto;
      padding:0 20px;
    }

    .logo {
      float:left;
      width:130px;
      height:60px;
      padding:2px 0 0 72px;
      margin-top:18px;
      background:url('/img/logo.png') no-repeat 0 0;
      background-size:60px 60px;
      
      a {
        font-family: 'Montserrat', Arial;
        font-size:25px;
        font-weight:400;
        color:#878787;
        text-decoration:none;
      }
    }

    .header-comp-nav {
      float:right;
      display:none;
      margin:35px 10px 0 0;
      
      i {
        font-size:30px;
        color:#878787;
      }
    }

    nav {
      float:right;
      height:57px;
      @include transform-style("linear");
      @include transition-property("left");
      @include transition-duration(250ms);

      a {
        @include inline-block();
        margin-left:30px;
        padding:40px 0 0;
        line-height:15px;
        font-family: 'Cabin',Arial;
        font-size:14px;
        font-weight: 400;
        color:#878787;
        text-transform: uppercase;
        text-decoration: none;
        border-top:2px solid transparent;

        &:hover { border-color: #878787 }
      }

      // States

      // - disabled
      a.disabled {
        @include opacity(0.5);

        &:hover {
          cursor:default;
          border-top:2px solid transparent;
        }
      }

      // - selected
      a.selected {
        border-color: #878787;

        &:hover { cursor:default }
      }
    }

  }


  // Light header
  header.light {
    .logo {
      background:url('/img/logo_white.png') no-repeat 0 0;
      a { color:white }
    }

    .header-comp-nav {
      i {
        font-size:30px;
        color:white;
      }
    }

    nav {
      
      a {
        color:white;
        &:hover { border-color: white }
      }

      // States

      // - disabled
      a.disabled {
        &:hover { border-color: transparent }
      }

      // - selected
      a.selected {
        border-color: white;

        &:hover { cursor:default }
      }
    }
  }


  // Hello media queries

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    header .logo {
      background:url('/img/logo@2x.png') no-repeat 0 0;
      background-size:60px 60px;
    }

    header.light .logo {
      background:url('/img/logo_white@2x.png') no-repeat 0 0;
      background-size:60px 60px;
    }
  }

  @media (min-width: 0) and (max-width: 720px) {
    .header-comp-nav { display:block!important }

    header nav {
      position:fixed;
      width:50%;
      height:100%;
      padding:40px 0 0;
      top:0;
      left:100%;
      background:#333;
      z-index:100;

      a {
        display:block!important;
        padding:15px 30px!important;
        margin-left:0;
        text-transform: uppercase;
        border-top:1px solid #787878!important;
        text-align:left;

        &:last-child { border-bottom:1px solid #787878 }

        &:hover {
          border-top:1px solid #787878!important;
          border-color:#787878!important
        }
      }

      a.selected {
        text-decoration:none;
        border-color:#787878!important;
        background:#292929!important;
      }

      a.disabled {
        border-color:#787878!important;
      }
    }


    body.active header {
      nav { left:50% }
    }
  }