
  /**
   *  Header styles
   *
   */

  @import "compass/css3/inline-block";
  @import "ui/vars";


  header {
    display:block;

    .inner {
      height:60px;
      max-width:$w;
      margin: 0 auto;
      padding:0 20px;
    }

    .logo {
      float:left;
      width:130px;
      height:60px;
      padding:2px 0 0 72px;
      margin-top:18px;
      background:url('/img/logo.png') no-repeat 0 0;
      
      a {
        font-family: 'Montserrat', Arial;
        font-size:25px;
        font-weight:400;
        color:white;
        text-decoration:none;
      }
    }

    nav {
      float:right;
      height:57px;

      a {
        @include inline-block();
        margin-left:30px;
        padding:40px 0 0;
        line-height:15px;
        font-family: 'Cabin',Arial;
        font-size:14px;
        font-weight: 400;
        color:white;
        text-transform: uppercase;
        text-decoration: none;
        border-top:2px solid transparent;

        &:hover { border-color: white }
      }

      a.selected {
        border-color: white;

        &:hover { cursor:default }
      }
    }

  }