/* Global Reset */

@import "compass/css3/transform";
@import "compass/css3/transition";

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  position:relative;
  right:0;
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  @include transform-style("linear");
  @include transition-property("right");
  @include transition-duration(250ms);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', Arial;
  font-weight: 500;
  font-size: 100%;
}


// Hello media queries

@media (min-width: 0) and (max-width: 720px) {
  body.active { right:50% }
}